<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>东华大学技术宅协会</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="//cdn.bootcss.com/element-ui/1.1.6/theme-default/index.css" rel="stylesheet">
  <script src="//cdn.bootcss.com/vue/2.1.10/vue.min.js"></script>
  <script src="//cdn.bootcss.com/vuex/2.1.1/vuex.min.js"></script>
  <script src="//cdn.bootcss.com/vue-router/2.2.0/vue-router.min.js"></script>
  <script src="//cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="//cdn.bootcss.com/element-ui/1.1.6/index.js"></script>
</head>
<body>
<div id="app"></div>
</body>
<script src="/static/dist/{# gadu.js #}" type="text/javascript"></script>
</html>
